.container {
    text-align: center;
}

.form-control {
    width: 300px;
    margin: 0 auto;
}

.btn-primary {
    display: block;
    margin: 0 auto;
}

#resultSection {
    margin-top: 20px;
}

#historyTable {
    margin-top: 30px;
}

.edit-btn,
.delete-btn {
    margin-right: 5px;
}

.dataTables_paginate {
    margin-top: 10px;
}

.dataTables_filter label input {
    width: 200px;
}

.dataTables_empty {
    text-align: center;
}

@media (max-width: 575.98px) {
    .table-responsive {
        overflow-x: auto;
    }
}
